<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LibraryDB" connectionString="Server=localhost;Port=3306;Database=library_system;Uid=root;Pwd=password;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultBorrowingDays" value="14"/>
    <add key="MaxRenewals" value="2"/>
    <add key="FinePerDay" value="0.50"/>
    <add key="MaxBorrowingLimit" value="5"/>
    <add key="ReservationHoldHours" value="48"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="library@example.com"/>
    <add key="SMTPPassword" value="password"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>