<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="8.4.0" targetFramework="net48" />
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net48" />
  <package id="PdfSharp" version="1.51.5185" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1647.0" targetFramework="net48" />
</packages>