<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="RememberedUsername" value="" />
  </appSettings>
  <connectionStrings>
    <add name="LibraryDb" connectionString="server=localhost;user id=root;password=your_password;database=library_system;SslMode=none;ConnectionTimeout=15;Allow User Variables=true;Pooling=true;MinimumPoolSize=0;MaximumPoolSize=50" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
