<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- Update values in appSettings below or override at runtime -->
    <add name="MariaDbConnection" connectionString="server=${DbHost};port=${DbPort};user id=${DbUser};password=${DbPassword};database=${DbName};SslMode=Preferred;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbHost" value="localhost" />
    <add key="DbPort" value="3306" />
    <add key="DbUser" value="root" />
    <add key="DbPassword" value="password" />
    <add key="DbName" value="library_db" />
  </appSettings>
</configuration>
